:root {
    font-size: 20px;
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2b7387;
    font-family: "Roboto", system-ui;
}

#root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;

    h1 {
        color: #fff;
        width: 30%;
        font-size: 3rem;
        margin-bottom: 2rem;
        text-align: center;
        border-bottom: solid 0.2rem #4db0d4;
        font-weight: 600;
    }

    ul {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(rem, 1fr));
        gap: 0.75rem;

        p#loading {
            width: 100%;
            color: #fff;
            font-size: 3rem;
            text-align: center;
        }

        .card {
            width: 18rem;
            height: 7rem;
            padding: 1rem 1.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: .1rem .1rem .25rem;
            border: none;
            border-radius: 0.5rem;
            background-color: #fff;
            margin: 0 auto;
            box-sizing: border-box;
            h2 {
                font-size: 1.5rem;
                margin-bottom: 1rem;
                margin-right: auto;
                font-weight: 600;
            }

            p {
                font-size: 1rem;
                margin-top: auto;
                margin-right: auto;
                font-weight: 400;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    #root {
        ul {
            .card {
                width: 16rem;
            }
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 760px) {
    #root {
        ul {
            .card {
                width: 18rem;
            }
        }
    }
}